div#home{
    width: 100%;
    max-width: 930px;
    margin: 20px auto 0;
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

div#home p{
    margin: 10px 0px 0px 0px;
}

div#home li{
    margin: 0px 0px 0px 30px;
}
