form.bloco {
    background: #fff;
    width: 100%;
    max-width: 930px;
    margin: 20px auto 0;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

form.bloco input[type=text]{
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0 20px;
}

form.bloco select{
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0 20px;
}

form.bloco button{
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    background: #272727;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

div.bloco .titulo{
    display: flex;
    height: 30px;
    align-items: center;
}
