div.bloco {
    width: 100%;
    max-width: 930px;
    margin: 20px auto 0;
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

div.bloco .titulo{
    display: flex;
    height: 30px;
    align-items: center;
}

.botao{
    padding: 8px;
    margin-left: 0px;
    border-radius: 5px;
    background-color: #272727;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.botao button{
    border: 0;
}
